annotated-types
anyio
asttokens
blinker
certifi
click
colorama
contourpy
cycler
decorator
distro
dotenv
elastic-transport
elasticsearch==8.*
et_xmlfile
exceptiongroup
executing
Flask
flask-cors
fonttools
h11
httpcore
httpx
idna
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
jsonpickle
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
networkx
numpy
openai
openpyxl
packaging
pandas
parso
pillow
prompt_toolkit
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyvis
six
sniffio
stack-data
tqdm
traitlets 
typing-inspection
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
